body{
    background-color: rgb(207, 207, 207);
    height: 100svh;
    /* width: 100%; */
    padding: 0;
    margin: 0;
    display: grid;
    place-content: center;
}
* {
    position: relative;
}
.main{

    outline: 2px dashed;
    /* width: 90vw; */
    /* height: 70vh; */
    display: grid;
    place-content: center;
    align-items: center;
}

.container{
    border: 2px solid gray;
    overflow: visible;
    padding-inline-start: 2rem;
}

.bar{
    fill: red;
}

.bar:hover{
    fill: gray;
    /* z-index: 0; */
}
#tooltip{
    /* fill: red; */
    border: 2px solid red;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
    /* opacity: 1 !important; */
    /* fill: #fff; */
    /* z-index: 100; */
}
